.idea/
.vscode/
**/node_modules/
dist/
target/
.DS_Store
.env
.secrets
*.tfstate
*.tfstate.backup
**/target
GWG_*
cloud-config.yml
AGENTS.md
GEMINI.md
.terraform
.terraform.lock.hcl
infra/regula/*.license
